* {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
}

.container {
  margin: 0 auto;
  width: 320px;
}

nav, section, aside, footer {
  background-color: #ff0000;
  float: left;
  height: 300px;
  width: 50%;
}


nav {
  height: 80px;
  margin-bottom: 10px;
  width: 100%;
}

section {
  background-color: #00ff00;
  height: 80vh;
  margin-right: 1%;
  width: 74%;
}

aside {
  background-color: #00ffff;
  height: 80vh;
  width: 25%;
}

footer {
  background-color: #bababa;
height: 10vh;
margin-top: 10px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
  nav {
    min-height: 60px;
    margin-bottom: 10px;
    width: 100%;
  }

  section {
    min-height: 200px;
    margin-right: 1%;
    width: 100%;
  }

  aside {
    min-height: 200px;
    width: 100%;
  }

  footer {
  min-height: 100px;
  margin-top: 10px;
    width: 100%;
  }
}
